@use "../util" as *;
@use "../globals" as *;

img {
  width: 100px;
}

body {
  background-color: $background-color;
  display: grid;
  height: 100vh;
  place-content: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  @include breakpoint-down("small") {
   
  }
}
.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "nav preview"
    "description preview"
    "thumbnail preview";
  @include border-radius;

  background-color: #fff;
  padding: 10px 0 10px 40px;
  min-width: 650px;

  .nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: baseline;
    img {
      width: 15px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        filter: saturate(800%);
      }
    }

    & img:first-of-type {
      width: 25px;
    }
  }
  .description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      color: $secondary;
    }
    h3,
    h1 {
      color: $primary;
    }
    h1 {
      padding-top: 4px;
      font-weight: 700;
      font-size: 34px;
    }
  }
  .thumbnail {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: thumbnail;

    img {
      border-radius: 5px;
      object-fit: cover;
      width: 70px;
      height: 77px;
      cursor: pointer;
    }
  }
  .preview {
    margin-top: 20px;

    grid-area: preview;
    width: 90%;
    height: 90%;
  }

  #images-container {
    height: 220px;
    position: relative;
  }

  .image {
    width: 100%;
    height: 120%;
    position: absolute;
    border-radius: 10px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: all 0.5s;

  }

  .image-1 {
    background-image: url(/app/assets/images/angelo-pantazis-h0AnGGgseio-unsplash.jpg);
  }

  .image-2 {
    background-image: url(/app/assets/images/ian-dooley-TLD6iCOlyb0-unsplash.jpg);
  }

  .image[data-active="active"] {
    opacity: 1;
  }

  @include breakpoint-down("small") {
    min-width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav "
      "description "
      "preview "
      "thumbnail ";
    padding: 10px 0 0 30px;

    .nav {
      padding: 10px 40px 20px 0;
    }

    .thumbnail {
      padding: 10px 0;
    }
    .image {
      height: 97%;
    }
  }
}
